/* home page style */
.home__files {
    width: 100%;
    padding-top: 37px;
    padding-bottom: 45px;
    flex-wrap: wrap;
    gap: 30px;
}

.file__item {
    flex: 1;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    padding: 30px 2.5% 30px 4%;

    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 10%;
}

.file__img {
    max-width: 150px;
}

.file__desc {
    flex: 1;
}

.file__select {
    position: absolute;
    width: 76px;
    height: 30px !important;
    top: 30px;
    right: 30px;
    font-size: 14px;
    color: var(--text-color);

    border-radius: 3px;
    line-height: 30px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: #C0C1C4 !important;
    cursor: pointer;
}

.file__select.custom-select {
    background: #fff url(../image/down02.png) no-repeat right 10.5px center;
    background-size: 10.5px;
}

.file__desc > h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--title-color);
}

.file__desc ul {
    margin-top: 25px;
}

.file__desc ul li {
    font-size: 16px;
    padding: 2px 0px 5px 15px;
    font-weight: 500;
    color: var(--text-color-second);
    position: relative;
}

.file__desc ul li::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 40%;
    width: 6px;
    height: 6px;
    background-color: tomato;
    border-radius: 50%;
}

.file__desc ul li:nth-child(1)::after {
    background-color: #D0E3EE;
}

.file__desc ul li:nth-child(2)::after {
    background-color: #FF646C;
}

.file__desc ul li:nth-child(3)::after {
    background-color: #2DCC70;
}

.info__list  .table thead th:nth-child(2),
.info__list  .table  td:nth-child(2) {
    width: 18%;
}

.info__list table {
    border: 1px solid #EAEAEA;
}

.info__list .table thead th {
    border-color: #CCCCCC;
}